<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Reportboard{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/easymde.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
</head>
<body>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='vendor/htmx.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/easymde.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/sortable.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
